* {
    box-sizing: border-box;
    margin: 0;
}

.body {
    font-family: 'DM Sans', 'Arial', sans-serif; 
    font-weight: 400px;
    font-style: normal;
    min-width: 375px;
}

.container {
    max-width: 1320px;
    min-width: 375px;
    margin: 0 auto;
    padding: 0 120px;
}

.bg {
    background-color: blueviolet;
}

.header {
    display: flex;
    padding-top: 30px;
}

.header-title {
    font-size: 26px;
    margin-left: 30px;
    padding-bottom: 30px;
}

.tax-calculation {
    margin-top: 30px;
    display: flex;
}

.form {
    margin-right: 50px;
    max-width: 50%;
}

.button {
    margin-top: 30px;
}

.result {
    max-width: 50%;
}

.result p {
    padding-bottom: 30px;
}

@media (max-width: 756px) {
    .container {
        padding: 0 30px;
    }
    .tax-calculation {
        flex-direction: column;
    }
    .form {
        margin-bottom: 30px;
    }
}